  <head>
    <title>Shrinkify</title>
  </head>

  <body>
    <% if (!user) { %>
      <label>Welcome!</label> <a href="/login">Login</a> <a href="/register">Register</a>
    <% } else { %>
      <label>Welcome, <%= user.email %>!</label>
      <form action="/logout?_method=PUT" method="POST">
        <button>Logout</button>
      </form>
    <% } %>


  </body>