<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>

  <body>
    <h3>Register here!</h3>

    <form action="/register" method="POST">
      <input type="email" name="email" placeholder="Enter email here...">
      <input type="password" name="password" placeholder="Enter a password">
      <button>Let's get shrinkifying!</button>
    </form>
  </body>