<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>

  <body>
  <h1>Your Short URLs</h1>


  <% for (var x in urls) { %>
      <form method="POST" action='/urls/<%= urls[x].shortURL %>/delete'>
      <p>
        Short URL: http://localhost:8080/u/<%= urls[x].shortURL %></br></br>
        Original: (<%= urls[x].longURL %>)
        <a href="/urls/<%= urls[x].shortURL %>">Edit</a>
        <button>Delete</button>
      </p>
      </br>
      </form>
  <% } %>



  <% if (user) { %>
   <p><a href="/urls/new">Shrinkify a new link!</a></p>
  <% } else { %>
    <p>Please <a href="/login">log in</a> to start shrinkifying!</p>
  <% } %>
  </body>
</html>