<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>


  <body>
    <% var userId = 'notamatch' %>

    <% if (user) { %>
      <% userId = user.userId %>
    <% } %>

    <% if (userId === owner) { %>
      <h3>My Short URL: <%= shortURL %></h3>

      <form action="/urls/<%= shortURL %>/edit?_method=PUT" method="POST">
        <input id='longURL' type='text' name='longURL' value="<%= longURL %>"   style='width:300px'>
        <button type='update' action="/urls/<% shortURL %>/edit">Update</button>
      </form>
    <% } else if (user) { %>
      <p style="color:red;">
        <b>You can not edit this URL.</b>
      </p>
    <% } else { %>
      <p>Please <a href="/login">log in</a> first.</p>
    <% } %>
  </body>
</html>