<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>

  <body>
  <h1>Your Short URLs</h1>


  <% for (var x in urls) { %>
    <form method="POST" action='/urls/<%= x %>/delete'>
    <p>
      <%= x %>
      (<%= urls[x] %>)


      <a href="/urls/<%= x %>">Edit</a>

      <button>Delete</button>

    </p>
    </form>
  <% } %>



   <p><a href='http://localhost8080/urls'>Shrinkify a new link!</a></p>
  </body>
</html>