<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>


  <body>
  <h3>My Short URL: <%= shortURL %></h3>

  <form action="/urls/<%= shortURL %>/edit" method="POST">
    <input id='longURL' type='text' name='longURL' value="<%= longURL %>" style='width:300px'>
    <button type='update' action="/urls/<% shortURL %>/edit">Update</button>
  </form>
  </body>
</html>

